@font-face {
    font-family: 'AC Line';
    src: local('AC Line'), url('../fonts/acline.woff2') format('woff2'), url('../fonts/acline.woff') format('woff'), url('../fonts/acline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;  /* для мобильного WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
body {
    background: url("../img/fonBook.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    position: relative;
    width: 100%;
}
/*==============Heders=======================*/
header {
    height: 100vh;
    position: relative;
}
.navbar-brand {
    font-family: 'AC Line';
    font-size: 4em;
    padding: 16.5px 15px !important;
}
.jumbotron {
    font-family: 'AC Line';
    background: transparent;
    color: #fff;
}
.jumbotron h1 {
    display: inline-block;  /*border-bottom делаем по ширине текста*/
    border-bottom: .1em solid hsl(172, 100%, 20%);
    font-size: 5.5em;
    color: #fff;
    animation-delay: .7s;
}
.skill {
    animation-delay: 1s;
}
.skill2 {
    animation-delay: 1.3s;
}
.skill3 {
    animation-delay: 1.6s;
}
.skill4 {
    animation-delay: 1.9s;
}
.skill5 {
    animation-delay: 2.2s;
}
.skill6 {
    animation-delay: 2.5s;
}
.headerArrow {
    position: absolute;
    color: hsl(172, 100%, 20%);
    bottom: 0;
    left: 49%;
    font-size: 2em;
    animation-iteration-count: infinite;
}

/*============== timeline в обе стороны===========*/
.timeline-both-side {
    float: left;
    width: 100%;
    margin: 0 0 1em;
    position: relative;
}
/*================вертикальная шкала==============*/
.timeline-both-side:before{
    background-color: hsl(172, 100%, 20%);
    bottom: 1.4em;
    content: " ";
    left: 50%;
    position: absolute;
    top: 12em;
    width: 1px;
}
/*=============кружек в конце шкалы==============*/
.timeline-both-side:after{
    border-radius: 50%;
    bottom: .1em;
    content: " ";
    height: 1.4em;
    width: 1.4em;
    left: 50%;              /*к центру*/
    margin-left: -.68em;     /*центрируем*/
    position: absolute;
    border: .2em solid #00695c;
}

.timeline-both-side li {
    position: relative;
    float: left;
    width: 100%;
}
/*============линии от шкалы к блокам============*/
.timeline-both-side li .border-line{
    background-color: #00695c;
    font-size: 1.4em;
    height: 1px;
    left: 50%;
    margin-left: -8%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 8%;
}
.timeline-both-side li.opposite-side .border-line{
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -8%;
}
/*=======крепления временных блоков========== 2*/
.timeline-both-side li .border-line:before {
    background-color: #00695c;
    content: "";
    height: .33em;
    position: absolute;
    right: -.21em;
    top: -0.13em;
    width: .33em;
}
 /*========линия от блока к креплению==========*/
.timeline-both-side li.opposite-side .border-line:before{
    left: -0.15em;
    right: auto;
    }
    li.opposite-side {
      list-style: none;
    }
/* block accordions*/
.timeline-both-side li .timeline-description {
    border: .1em solid #00695c;
    border-top: .3em solid #00695c;
    border-bottom: .3em solid #00695c;
    float: left;
    padding: 0 .7em .1em;
    position: relative;
    width: 45%;
    background: #E2E2E2;
}
.timeline-both-side li.opposite-side .timeline-description{
    float: right;
}
/*========== timeline в обе стороны end =========================*/

/*==========адаптация под экран меньше 768px=====================*/
 @media (max-width: 768px ) {
     .timeline-both-side:before,
     .timeline-both-side:after,
     .timeline-both-side li .border-line,
     .timeline-both-side li.opposite-side .border-line,
     .timeline-both-side li.opposite-side .border-line:before {
        display: none;
     }
    .timeline-both-side,
    .timeline-both-side li .timeline-description,
    .timeline-both-side li.opposite-side .timeline-description {
        float:none;
        width: 100%;
    }
    .timeline-both-side li .timeline-description {
        margin-bottom: 3em;
    }
 }
 @media (max-width: 360px ) {
    .jumbotron {
        padding-top: 0;
    }
    .jumbotron h1 {
        font-size: 2.6em;
    }
    .jumbotron p {
        font-size: 1.1em;
    }
    .navbar-brand {
        font-size: 3em;
    }
 }

/*======Стили аккордион==========================*/
.accordionBlock {
    cursor: pointer;
    margin: auto;
    text-align: center;
}
.panelHoverAccordion:hover {
    transition: box-shadow .40s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 2px 4px 0 rgba(0,0,0,.19);
}
.blokAcc{
    text-align: center;
    padding: .1em;
    font-family: 'AC Line';
    text-transform: uppercase;
}
/*==================Подвал=====================*/
footer{
    bottom: 0;
    width: 100%;
    border: none;
    background: #00695c;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    color: #eee;
}
footer h4 {
    color: #eee;
    font-family: 'AC Line';
}
.footerSection{
    margin-top: 3.8em;
}
.nav.nav-tabs a {
    color: #fff;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover {
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
    color: #ffffff;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover {
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
    color: #ffffff;
}
.list-group-item {
    padding: 5px;
    margin: 1px;
}
.darkFooter{
    background: #004d40;
}
