@font-face {
  font-family: 'AC Line';
  src: local('AC Line'), url('../fonts/acline.woff2') format('woff2'), url('../fonts/acline.woff') format('woff'), url('../fonts/acline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #F8F8F8;
  float: left;
  position: relative;
  width: 100%;
}
a {
  color: #EE7546;
}
a:hover {
  color: #e67042;
}
a:visited {
  color: #e67042;
}
/*===========================================Headers===================================*/
.navbar-brand {
  font-family: 'AC Line';
  font-size: 4em;
  line-height: 20px;
}
.navbar-default {
  background-color: hsla(0, 1%, 17%, 0.9);
}
.navbar-default .navbar-brand {
  color: #eee;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #eee;
}
.navbar-default .navbar-nav>li>a {
  color: #eee;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #eee;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
  color: #eee;
}
header {
	background: url("../img/fonBook.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.jumbotron {
  font-family: 'AC Line';
  background: transparent;
  color: #eee;
}
.jumbotron h1 {
  display: inline-block;  /*border-bottom делаем по ширине текста*/
  border-bottom: 1px solid #72BAAC;
  font-size: 5.5em;
  color: #eee;
  animation-delay: .7s;
  margin-top: 1em;
}
.skill {
  animation-delay: 1.3s;
}

.skill3 {
  animation-delay: 1.6s;
}
.skill4 {
  animation-delay: 1.9s;
}
.skill5 {
  animation-delay: 2.2s;
}
.skill6 {
  animation-delay: 2.5s;
}
.skill7 {
  animation-delay: 2.8s;
}
.mouseWrapp {
  text-align: center;
  padding-top: 4em;
}
/* ---------------------------------------------- /*
 * Mouse animate icon
 /* ---------------------------------------------- */
 .mouse-icon {
  border: 2px solid #eee;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: inline-block;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #eee;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
/*==========================================Секция ресурсы =========================*/
.resources {
    padding: 4em 0;
}
.card {
    display: block;
    background-color: #fff;
    margin: 1em auto 3em;
    transition: box-shadow .55s;
    box-shadow:  0 4px 5px -2px rgba(0,0,0,.2),
                -2px 0 5px -2px rgba(0,0,0,.2),
                 2px 0 5px -2px rgba(0,0,0,.2);
}
.card>.cardHead {
    background-color: #D6D6D6;
    width: 100%;
    height: 4em;
    padding-top: 1em;
    font-weight: 600;
}
.card:hover {
    transition: box-shadow .45s;
    box-shadow: 0 10px 17px 0 rgba(0,0,0,.2),
                0 7px 20px 0 rgba(0,0,0,.19);
}
.card, .fab {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 1.7;
}
.fab i {
  padding: .5em;
}
.answers {
    position: relative;
    padding: 2em .5em .5em;
}
form {
    display: block;
    margin-top: 0em;
}
.answers .fab {
    position: absolute;
    top: -1.5em;
    right: .5em;
}
.fab {
    font-size: 25px;
    line-height: 1;
    width: 2em;
    height: 2em;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #555;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #fff;
}
.fab:hover{
  transition: box-shadow .45s;
  box-shadow: 0 10px 17px 0 rgba(0,0,0,.2),
              0 7px 20px 0 rgba(0,0,0,.19);
}
 .answers > div {
    position: relative;
    padding: .5em;
}
/*=================================секция резюме===========================*/
.resume {
   background-color: #5A5A5A;
   padding: 4em 0;
}
.darkSection {
  color: #d6d6d6;
}
.resumeContainer h3 {
  margin-bottom: 1.3em;
}
.resumeContainer h5 {
  font-weight: 400;
}
.resumeContainer .left {
  text-align: right;
  border-right: #72BAAC 1px solid;
}
.resumeContainer .right {
  text-align: left;
}
.year {
  color:#72BAAC;
  font-weight: 300;
  font-size: 1.1em;
}
.resumeItem i {
  font-size: 1.2em;
  font-weight: 200;
}
/*=================================секция портфолио===========================*/
.portfolio {
  background-color: #F8F8F8;
  padding: 4em 0;
}
.portfolio i {
  font-size: .8em;
}
.flexContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 3em;
}
.controls li{
display: inline-block;
list-style-type: none;
padding: 10px;
line-height: 1em;
cursor: pointer;
color: #EE7546;
opacity: .93;
}
/*=================================секция навыки===========================*/
.skills {
  background-color: #D6D6D6;
  padding: 4em 0;
}
/*=================================секция путь================================*/
.myPath {
  background-color: #72BAAC;
  padding: 4em 0;
}
/*============ timeline в обе стороны=========*/
.timeline-both-side {
  float: left;
  width: 100%;
  margin: 0 0 1em;
  position: relative;
}
/*========вертикальная шкала========*/
.timeline-both-side:before{
  background-color: #72BAAC;
  bottom: 1.4em;
  content: " ";
  left: 50%;
  position: absolute;
  top: 12.4em;
  width: 1px;
}
/*=============кружек в конце шкалы==============*/
.timeline-both-side:after{
  border-radius: 50%;
  bottom: .1em;
  content: " ";
  height: 1.4em;
  width: 1.4em;
  left: 50%;              /*к центру*/
  margin-left: -.68em;     /*центрируем*/
  position: absolute;
  border: .2em solid #72BAAC;
}

.timeline-both-side li {
  position: relative;
  float: left;
  width: 100%;
}
/*======линии от шкалы к блокам=======*/
.timeline-both-side li .border-line{
  background-color: #72BAAC;
  font-size: 1.4em;
  height: 1px;
  left: 50%;
  margin-left: -8%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 8%;
}
.timeline-both-side li.opposite-side .border-line{
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -8%;
}
/*====крепления временных блоков=====*/
.timeline-both-side li .border-line:before {
  background-color: #72BAAC;
  content: "";
  height: .33em;
  position: absolute;
  right: -.21em;
  top: -0.13em;
  width: .33em;
}
/*====линия от блока к креплению=====*/
.timeline-both-side li.opposite-side .border-line:before{
  left: -0.15em;
  right: auto;
}
li.opposite-side {
  list-style: none;
}
li {
  list-style: none;
}
/* block accordions*/
.timeline-both-side li .timeline-description {
  border: .1em solid #72BAAC;
  border-top: .3em solid #72BAAC;
  border-bottom: .3em solid #72BAAC;
  float: left;
  padding: 0 .7em .1em;
  position: relative;
  width: 45%;
  background: #F8F8F8;
}
.timeline-both-side li.opposite-side .timeline-description{
  float: right;
}
/*========== timeline в обе стороны end =========================*/


/*======Стили аккордион==========================*/
/*.pathAccordionPanel {
  height: 5em;
}*/
.accordionBlock {
  cursor: pointer;
  margin: auto;
  text-align: center;
}
.panel {
  transition: box-shadow .55s;
    box-shadow:  0 4px 5px -2px rgba(0,0,0,.2),
                -2px 0 5px -2px rgba(0,0,0,.2),
                 2px 0 5px -2px rgba(0,0,0,.2);
}
.panelHoverAccordion:hover {
  transition: box-shadow .45s;
  box-shadow: 0 10px 17px 0 rgba(0,0,0,.2),
              0 7px 20px 0 rgba(0,0,0,.19);
}
.panel-group .panel+.panel {
  margin-top: 15px;
}
.blokAcc{
  text-align: center;
  padding: .3em;
  font-family: 'AC Line';
  text-transform: uppercase;
}
.forEvernote {
	width: 1.8em;
	height: 1.8em;
}
/*==================Подвал=====================*/
footer{
  bottom: 0;
  width: 100%;
  border: none;
  background: #5A5A5A;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color: #d6d6d6;
}
footer h4 {
  color: #d6d6d6;
  font-family: 'AC Line';
}
.footerSection{
  margin-top: 3.8em;
}
.nav.nav-tabs a {
  color: #d6d6d6;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover {
  color: #d6d6d6;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
  -webkit-box-shadow: inset 0 -2px 0 #d6d6d6;
  box-shadow: inset 0 -2px 0 #d6d6d6;
  color: #d6d6d6;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover {
  -webkit-box-shadow: inset 0 -2px 0 #d6d6d6;
  box-shadow: inset 0 -2px 0 #d6d6d6;
  color: #d6d6d6;
}
.list-group-item {
  padding: 5px;
  margin: 1px;
}
.form-horizontal .myForm {
	padding-left: 0;
}
.formColor {
	color:#d6d6d6;
}
.myForm button {
	margin-top: .5em;
}
.darkFooter{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #2b2a2a;
  line-height: 2.3em;
  color: #5a5a5a;
  padding: .3em;
  margin-top: 1em;
}

/*==================кнопка наверх=====================*/
.top {
  position: fixed;
  bottom: 3em;
  right: -7em;
  width: 3em;
  height: 2em;
  border-radius: 10em;
  cursor: pointer;
  background-color: #e67042;
  text-align: center;
  opacity: .4;
  color: #eee;
  z-index: 5;
  transition: all .45s;
}
.top:hover {
  opacity: 1;
  background-color: #e67042;
}
.top.active {
  right: 2em;
}
.top .fa {
  font-size: 1.3em;
  margin: .32em;
}
 